# //local setup
VITE_API_URL_ADMIN="http://localhost:8000/api/"
VITE_IMAGE_PATH="http://localhost:8000"
 

# instance setup 
# VITE_API_URL_ADMIN="https://api.agileidcai.in/api/"
# VITE_IMAGE_PATH="https://api.agileidcai.in"

# client instance setup 
# VITE_API_URL_ADMIN="https://testapi.epaf.co.uk/api/"
# VITE_IMAGE_PATH="https://testapi.epaf.co.uk"