
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// light theme
$bg-theme-light: #fff;
$color-theme-light: #222;

// dark theme
$bg-theme-dark: #222;
$color-theme-dark: #fff;

//vuetify
.v-btn.bg-primary {
  background-color: rgb(58, 58, 253) !important;
  color: white !important;
}

.v-btn.bg-success {
  background-color: rgb(2, 142, 35) !important;
  color: white !important;
}

.v-btn.bg-cancel {
  background-color: rgb(45, 45, 45) !important;
  color: white !important;
}

.app-name {
  font-family: "Montserrat", sans-serif !important;
  color: #033e89;
}
.navigation-title {
  background-color: $bg-theme-light !important;
  color: $color-theme-light !important;
}
//light theme start
#app.theme-light {
  .v-navigation-drawer,
  .v-toolbar__content,
  body {
    background-color: $bg-theme-light !important;
    color: $color-theme-light !important;
    font-family: "Montserrat", sans-serif !important;
  }

  .app-name {
    text-shadow: 1px 1px 1px $bg-theme-dark;
  }

  .mdi-checkbox-blank-outline,
  .mdi-checkbox-marked {
    color: rgb(1, 96, 1) !important;
  }

  .role_list_item:hover {
    background: #f0f0f0;
    border-radius: 5px;
  }
}

//light theme end

//dark theme start
#app.theme-dark {
  .mdi-checkbox-blank-outline,
  .mdi-checkbox-marked {
    color: rgb(2, 173, 2) !important;
  }

  .mdi-chevron-up,
  .mdi-chevron-down {
    color: grey !important;
  }

  .v-navigation-drawer,
  .v-toolbar__content,
  main,
  body,
  .v-card,
  .v-list,
  .main-card {
    background-color: $bg-theme-dark !important;
    color: $color-theme-dark !important;
  }

  .v-navigation-drawer {
    border-radius: 0px 10px 10px 0px;
    border-top: 1px solid #414141;
    border-right: 1px solid #414141;
  }

  .app-name {
    text-shadow: 0px 0px 1px $bg-theme-light;
  }

  .profile-view-card {
    background-color: grey !important;
  }

  .confirm-dialog-box,
  .navigation-title {
    background-color: $bg-theme-dark !important;
    color: $color-theme-dark !important;
  }

  .confirm-dialog-box,
  .v-data-table__td,
  .v-data-table-footer,
  .v-data-table-header__content,
  td,
  tr {
    background-color: $bg-theme-dark !important;
    color: $color-theme-dark !important;
  }

  .v-label {
    color: $color-theme-dark !important;
  }

  .role_list_item:hover {
    background: #2b2b2b;
    border-radius: 5px;
  }

  .mdi-camera {
    color: black !important;
  }

  .v-table {
    & > .v-list-item {
      background: #222 !important;
      color: white;
    }
  }
}

//dark theme end

.page-header {
  margin-top: 2px;
  font-size: 22px;
  width: max-content;
}

.sibebarvlistmenu .v-list-item__append {
  display: none !important;
}

.v_list_menu_title .v-list-item__content {
  text-align: left !important;
  font-size: 14px !important;
}

.role_list_item {
  height: 20px;
  padding-top: 20px !important;
}

.v_child_list_title .v-list-item-title {
  text-align: left !important;
  font-size: 14px !important;
}

.role_list_child_item {
  padding-top: 20px !important;
  height: 15px !important;
}

.v-data-table-header__content {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
}

.role_list_item .v-list-item__append:hover {
  color: black;
  transform: scale(1.2);
}

.role_list_item .v-list-item__append {
  padding-bottom: 18px !important;
}

.vdatatable_tbody {
  text-align: start;
  font-size: 14px;
}

.spanactivesize {
  min-width: 70px;
  text-align: center;
}

.required_field:after {
  content: "";
  border: 1px solid #f30;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: -1pt;
}
.rtl-page-title {
  direction: rtl;
}
.component_app_bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add_new_button {
  width: auto;
  // position: absolute;
  right: 35px;
}

.add_new_cancel_button {
  width: auto;
  position: absolute;
  right: 121px;
}

.add_new_cancel_button .v-btn {
  background: #4c4d4d !important;
}

.v-field--error:not(.v-field--disabled) .v-field__outline {
  animation-name: shakeError !important;
  animation-fill-mode: forwards !important;
  animation-duration: 0.5s !important;
  animation-timing-function: ease-in-out !important;
}

.v-input--error:not(.v-input--disabled) .v-input__details > .v-icon,
.v-input--error:not(.v-input--disabled) .v-input__details .v-messages,
.v-input--error:not(.v-input--disabled) .v-input__prepend > .v-icon,
.v-input--error:not(.v-input--disabled) .v-input__prepend .v-messages,
.v-input--error:not(.v-input--disabled) .v-input__append > .v-icon,
.v-input--error:not(.v-input--disabled) .v-input__append .v-messages {
  animation-name: shakeError !important;
  animation-fill-mode: forwards !important;
  animation-duration: 0.5s !important;
  animation-timing-function: ease-in-out !important;
}

.checkboxmenuaccess .v-input {
  max-width: 50px !important;
}

/* Custom Css */
.v-main > div {
  margin: 9px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.background {
  background-image: url("../../assets/images/bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
}

.login-box-custom {
  width: 400px;
  margin: 0px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.login-box-custom > div {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

label {
  width: 100%;
  text-align: left;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-top: 0px;
}

.a-underline {
  text-align: center;
  width: 100%;
}

.font-sign-in-msg {
  font-weight: 800 !important;
}

.btn-theme-blue {
  background-color: #033e89 !important;
  color: #fff !important;
  width: 100% !important;
}

a {
  text-decoration: none;
  color: #033e89;
}

.v-application {
  margin: 0px !important;
}

.delete-bin {
  color: rgb(249, 115, 115) !important;
}

.delete-bin:hover {
  color: red !important;
  transform: scale(1.1);
  cursor: pointer;
}

/* Custom Css */

.otp-input {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Background colour of an input field with value */
.otp-input.is-complete {
  background-color: #e4e4e4;
}

.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.mdi-cog {
  color: rgb(95, 95, 95);
  min-height: 30px;
}

.mdi-cog:hover {
  transform: rotate(360deg);
  transition: 2s;
}

.mdi-pencil-outline:hover {
  transform: rotate(20deg);
  transition: 0.2s;
}

.mdi-pencil-outline {
  min-height: 30px;
}

.mdi-trash-can-outline:hover {
  animation: shake 0.4s;
}

.mdi-trash-can-outline {
  color: rgb(var(--v-theme-error)) !important;
  min-height: 30px;
}

.mdi-sitemap {
  color: green;
  min-height: 30px;
}

.mdi-sitemap:hover {
  transform: scale(1.1);
}

.field_label {
  color: grey;
}

.font-base-app {
  font-weight: 600;
  font-family: "Roboto", sans-serif !important;
  color: #033e89;
}

.req_field {
  color: #d50000;
  font-size: 12px;
}

.green_btn_color {
  background-color: #0d969e !important;
}

//animations start
/* Apply the bounce animation on hover */
.v-btn:hover {
  animation: bounceAnimation 0.5s;
}

.reasonforrejectdivdialog {
  padding: 27px 12px;
  border: solid black 1px;
  margin-bottom: 27px;
  color: rgb(98, 30, 30);
  border-radius: 7px;
}

.switch-lang {
  display: inline-block;
  transition: all 0.5s ease;
}

.bounce-all:hover {
  animation: bounceAnimation 0.5s;
  cursor: pointer;
}

.rtl-direction {
  text-align: right;
  direction: rtl;
}

.green_btn_color {
  color: white !important;
  background: green !important;
}
.dialog-header {
  background: #033e89;
  color: white;
}
.image-container {
  max-width: 110px;
  border: 5px double black;
  border-radius: 3px;
}
.camera-icon {
  position: absolute;
  bottom: 35px;
  left: 35px;
  animation: fadeInUp 0.5s forwards;
}

//animations end

//keyframes start

@keyframes bounceAnimation {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust the height of the bounce */
  }
}

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0.175rem);
  }

  30% {
    transform: translateX(-0.175rem);
  }

  45% {
    transform: translateX(0.175rem);
  }

  60% {
    transform: translateX(-0.175rem);
  }

  75% {
    transform: translateX(0.175rem);
  }

  90% {
    transform: translateX(-0.175rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }

  25% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(-2px);
  }

  75% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}
.v-list-item__content {
  color: #033e89;
}
.v-tab.v-tab {
  color: #033e89;
}
.v-list-item__prepend > .v-icon {
  color: #033e89;
}
@media (orientation: landscape) {
  .login-box-custom {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation: portrait) {
  .login-box-custom {
    margin: 0px 20px;
  }
}

.preview-btn {
  background: #282828 !important;
  color: white !important;
}

.dimension_text {
  color: rgb(109, 109, 109);
  font-size: 14px;
  margin-top: -25px !important;
}

.disabledmditrash {
  color:grey !important;
  pointer-events: none;
}
.v-list{padding-top: 0px !important;}
.create-btn{background:#063c84 !important;color:#fff !important}
.text-blue {
  color: #033E89 !important;
}
//keyframes end
